html, body {
    background-image: url("img/technology-3209268_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
p {
    
}

#block {
    min-width:480px;
}

#header {
    position: absolute;
}
#header_text {
    position: absolute;
    opacity: 0.7;
    color: whitesmoke;
    margin-right: 10%;
}