html, body {
    background: #000;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.header {
    background: #111;
    color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    text-align: center;
    line-height: 40px;
}
.header_img {
    background-image: url("img/arduino_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    float: left;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    height: 30px;
    width: 30px;
}

.header.active {
    background: #fff;
    color: #000;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.header_text {
    display: flex;
    left: 0;
    font-family: Roboto,sans-serif;
    flex-direction: row;
    margin-right: 3%;
    padding: 10px 10px;
    cursor: pointer;
    float: left;
}
.header_text.active {
    display: flex;
    left: 0;
    font-family: Roboto,sans-serif;
    flex-direction: row;
    margin-right: 3%;
    padding: 10px 10px;
    cursor: pointer;
    float: left;
}

.left {
    font-size: 26px;
    color: #fff;
    float:left;
    width:40%;
    font-weight: bold;
    text-transform: none;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    min-width: 480px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 50px 0;
}

.right1{
  margin-top:10%;
  float:left;
  min-width: 480px;
  width:49%;
  height:70%;
  background-image: url("img/technology-3209268_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.right2 {
    margin-top:10%;
    float:left;
    min-width: 480px;
    width:49%;
    height:70%;
    background-image: url("img/technology-1784564_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.right3 {
    margin-top:10%;
    float:left;
    min-width: 480px;
    width:49%;
    height:70%;
    background-image: url("img/arduino-2233042_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
    height: 20%;
    width: 100%;
}
