html, body {
    background: #000;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.header {
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    text-align: center;
    line-height: 40px;
}

.header.active {
    background: #fff;
    color: #000;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.header_text {
    display: flex;
    left: 0;
    font-family: Roboto,sans-serif;
    flex-direction: row;
    margin-right: 10%;
    padding: 10px 10px;
    cursor: pointer;
    float: left;
}
.header_text.active {
    display: flex;
    left: 0;
    font-family: Roboto,sans-serif;
    flex-direction: row;
    margin-right: 10%;
    padding: 10px 10px;
    cursor: pointer;
    float: left;
}

.left {
    font-size: 26px;
    color: #fff;
    float:left;
    width:45%;
    font-weight: bold;
    text-transform: none;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    min-width: 480px;
    margin-left: 5%;
    padding: 50px 0;
}
.right {
    margin-top:10%;
    float:left;
    min-width: 480px;
    width:49%;
    height:70%;
    background-image: url("img/technology-3209268_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
